<div id="app">
  <img src="assets/rect9.svg" alt="" class="title-container">
  <h2>Enter a radius and find a random pub!</h2>
  <form [formGroup]="pubRouletteForm" (ngSubmit)="onSubmit()" id="search-form">
    <label for="radius">Radius (meters):</label>
    <input type="number" id="radius" min="1" max="9999" formControlName="radius" required>
    <button type="submit">Find a Pub</button>
  </form>
  <div id="result" [ngClass]="{'show-result': showResultContainer, 'hide-result': !showResultContainer}">
    <app-loading *ngIf="loading"></app-loading>
    <p class="error-message" *ngIf="showErrorMessage"> {{errorMessage}}</p>
    <div id="result-container" [ngClass]="{'show-result': showResult, 'hide-result': !showResult}">
      <result></result>
    </div>
  </div>
</div>

