@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import 'fonts.css';
@import 'normalize.css';

body {
  font-size: 20px;
  text-align: center;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #000000;
  font-weight: bold;
}

ngb-rating {
  color: #b00000;
  font-size: 2.5em;
}

form {
  display: block;
}

button {
  width: 30%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.show-result {
  display: block;
}

.hide-result {
  display: none;
}

button {
  background-color: #d00000;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.title-container {
  max-width: 100%;
  height: auto;
}

#app {
  width: auto;
  height: auto;
  max-width: 600px;
  padding: 20px;
  flex-direction: column;
  display: flex;
}

#result-container {
  margin: auto;
  text-align: center;
}

.rating-result {
  color: #d00000;
  font-size: 2.25em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"],
input[type="number"],

input {
  width: 35%;
  height: 3svh;
  border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#result {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
}


footer {
  color: #000000;
  text-align: center;
}

footer a {
  color: #b00000;

}

.footer-container {
  position: absolute;
  bottom: 0;
  margin-left: 5svh;
}


@media (max-width: 600px) {
  #app {
    margin: 10px;
  }
}
